<div>
  <h1 class="text-3xl font-bold">Sign Up</h1>
  <div>
    <%= form_with(model: @user, class: "space-y-4") do |form| %>
      <% if @user.errors.any? %>
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded">
          <h2 class="font-bold"><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
          <ul class="list-disc list-inside">
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="flex flex-col space-y-4">
        <div>
          <%= form.label :email %>
          <%= form.text_field :email, class: "block", required: true %>
        </div>

        <div>
          <%= form.label :name %>
          <%= form.text_field :name, class: "block" %>
        </div>

        <div>
          <%= form.label :password %>
          <%= form.password_field :password, class: "block", required: true %>
        </div>

        <div>
          <%= form.label :password_confirmation, "Confirm Password" %>
          <%= form.password_field :password_confirmation, class: "block", required: true %>
        </div>
      </div>

      <div>
        <%= form.submit "Sign Up", class: "bg-blue-700 text-white rounded p-2" %>
      </div>
    <% end %>

    <div class="mt-4">
      <p class="text-sm">
        Already have an account? <%= link_to "Sign in", new_session_path, class: "text-blue-700 underline" %>
      </p>
    </div>
  </div>
</div>
